header.mainHeader#mainHeader
     div.container-fluid
          div.row.align-items-center
               div.col-6
                    div.mainHeader__logo
                         a(href="/")
                              img(src="images/logo.png" alt="")
               div.col-6
                    div.mainHeader__right
                         div.mainHeader__burgerButtonBox
                              a(href="javascript:void(0)").mainHeader__burgerButton
                                   span.line.first
                                   span.line.second
                                   span.line.third
                         div.mainHeader__navigation
                              //- ul.firstLevelMenuLists
                              //-      li
                              //-           a(href=`services${fileExtension}` id="servicesLink") Services
                              //-           //- Placeholder for submenu (if any) for "Services"
                              //-           ul(class="secondLevelMenuLists")
                              //-      li
                              //-           a(href=`about${fileExtension}` id="aboutLink") About Us
                              //-           //- Placeholder for submenu for "About Us"
                              //-           ul(class="secondLevelMenuLists")
                              //-      li
                              //-           a(href=`contact${fileExtension}` id="contactLink") Contact Us
                              //-           //- Placeholder for submenu for "Contact Us"
                              //-           ul(class="secondLevelMenuLists")
                              ul
                                   //- li
                                   //-      a(href=`services${fileExtension}` id="servicesLink") Services
                                   //-      div.subMenusSection#subMenusSection
                                   //-           ul.secondLevelMenuLists#secondLevelMenuLists
                                   //-                li
                                   //-                     a(href="javascript:void(0)") ENTERPRISE SOFTWARE DEVELOPMENT
                                   //-                li
                                   //-                     a(href="javascript:void(0)") ARTIFICIAL INTELLIGENCE
                                   //-                li
                                   //-                     a(href="javascript:void(0)") SAAS APP DEVELOPMENT
                                   //-                li
                                   //-                     a(href="javascript:void(0)") MOBILE APPLICATION DEVELOPMENT
                                   //-                li
                                   //-                     a(href="javascript:void(0)") ECOMMERCE DEVELOPMENT
                                   //-                li
                                   //-                     a(href="javascript:void(0)") DevOps
                                   //- li
                                   //-      a(href=`insights${fileExtension}` id="insightsLink") Insights
                                   li
                                        a(href=`about${fileExtension}` id="aboutLink") About NSG
                                   //- li
                                   //-      a(href=`careers${fileExtension}` id="careersLink") Careers
                                   li
                                        a(href=`contact${fileExtension}` id="contactLink") Contact Us
                                   //- li
                                   //-      a(href=`getInTouch${fileExtension}` id="getInTouchLink") Get In Touch
